.unorderedlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.listitem {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.lh {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}